# Created by .ignore support plugin (hsz.mobi)
.idea
node_modules/
local-*

# config
server-config.json

# sencha
/build
bootstrap.*
classic.json
modern.json
material-classic.json

# other build artifacts
public/classic/resources/opentok/
public/classic/resources/soundlibrary/
public/material-classic/
public/modern/resources/opentok/

# remote packages
WebRTC/packages/local/theme-material