/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: #87bd3e;
$base-accent-color: rgb(238,249,215) ;

a {
  color: #35baf6;
  text-decoration: none;
}
